.manifest-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
  max-width: 1200px;
  margin: 0 auto;
}


.sub-heading {
  width: 100%;
}

.image-section {
  background-image: url('/assets/texture.jpg');
  background-size: cover;
  border-bottom: 10px solid var(--color-lavender-pink);
  border-top: 1px solid var(--color-deep-black);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 1rem;
  min-height: 800px;
  min-height: 500px;
}


.sub-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  font-weight: 500;
  font-family: 'Playfair Display SC', serif;
  text-align: center;
  line-height: 0.9;
}

.line {
  opacity: 0;
  animation: fadeIn 1s ease-out forwards;
}

.line-1 {
  animation-delay: 0.3s;
  animation-duration: 1s, 2.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out, ease-in;
}

.line-2 {
  animation-delay: 1s;
  animation-duration: 1s, 2.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out, ease-in;
}

.line-3 {
  animation-delay: 1.7s;
  animation-duration: 1s, 2.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out, ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.quote {
  padding-top: 6rem;
  padding-bottom: 4rem;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.8;
  max-width: 700px;
  margin: 0 auto;
  color: var(--color-deep-black);
  text-align: center;
}


/* Responsive */
@media (min-width: 768px) {
  .image-section {
    padding: 5rem 3rem;
  }
}
