article {
  padding: 1rem;
  color: var(--color-black);
  border: 1px solid var(--color-deep-black);
  background-color: var(--color-ivory-white);
}

time {
  color: var(--color-black);
}

p {
  font-size: 1rem;
}


.actions {
  text-align: right;
  margin: 0;
}

.actions button {
  font: inherit;
  font-size: 0.9rem;
  cursor: pointer;
  background-color: var(--color-lavender-pink);
  color: var(--color-deep-black);
  border-radius: 200px;
  padding: 0.5rem 1.5rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
  border: 1px solid var(--color-deep-black);
}

.actions button:hover,
.actions button:active {
  background-color: var(--color-mint-green);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
}
