main {
  width: 90%;
  max-width: 50rem;
  margin: 2.5rem auto;
  display: grid;
  grid-auto-flow: row;
  gap: 2rem;
}

#categories {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 0.5rem;
  overflow: auto;
}

#fallback {
  font-size: 5rem;
  text-align: left;
  margin-left: 2rem;
  line-height: 1;
  background-image: linear-gradient(
    135deg,
    var(--color-orchid),
    var(--color-mint-green),
    var(--color-lavender-pink),
    var(--color-lilac-gray),
    var(--color-deep-black),
    var(--color-butter-yellow),
    var(--color-orange)
  );
  background-size: 400% 400%;
  animation: shimmer 10s ease infinite;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

@media (min-width: 768px) {
  main {
    margin: 4rem auto;
    grid-template-columns: 1fr 3fr;
  }

  #categories {
    flex-direction: column;
  }


}
